<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Hw3-2</title>

	<meta name="author" content="Hoa">
	<!-- Date: 2010-03-08 -->
</head>

<body>
	<script type="text/javascript" language="JavaScript">
	<!--
	var num1 = parseFloat(prompt("Please enter a number: ", 0));
	var num2 = parseFloat(prompt("Please enter a number: ", 0));
	var sum = num1 + num2;
	var diff = num1 - num2;
	var multi = num1*num2;
	var quot = num1/num2;
	var mod = num1%num2;

	document.write("<strong>You entered:  ", num1, " and " , num2, ".</strong><br />");
	document.write("Sum: ",  sum, "<br />");
	document.write("Difference: ",  diff, "<br />");
	document.write("Product: ",  multi, "<br />");
	document.write("Quotient: ",  quot, "<br />");
	document.write("Modulus: ",  mod, "<br />");
	
	
	//-->

	</script>
</body>

</html>
