<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Hw3-1</title>

	<meta name="author" content="Hoa">
	<!-- Date: 2010-03-08 -->
</head>

<body>
	<script type="text/javascript" language="JavaScript">
	<!--
	var num1 = parseFloat(prompt("Please enter a number: ", 0));
	var num2 = parseFloat(prompt("Please enter a number: ", 0));
	var num3 = parseFloat(prompt("Please enter a number: ", 0));
	var arg = (num1 + num2 + num3)/3;

	document.write("You entered:  ", num1, " and " , num2, " and " , num3,"<br />");
	document.write("Average: ",  arg);
	
	
	//-->

	</script>
</body>

</html>
