<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Hw 2</title>

	<meta name="author" content="Hoa">
	<!-- Date: 2010-03-08 -->
</head>

<body>
	<script type="text/javascript" language="JavaScript">

	/* defines 8 variables 
	each has value of an office location
	*/
	var     office1  = "SFO";
	var     office2  = "LAX";
	var     office3  = "ORD";
	var     office4  = "NYC";
	
	var     rev1	= 123456789.02;
	var     rev2	= 2345678.59;
	var     rev3	= 3456789.35;
	var     rev4	= 4567809.36;

	//Display the results
	document.write("<h4><em>Homework 2</em></h4><br />");
	document.write("<em>Var office1: ", office1 , "</em><br />");
	document.write("Result of parseFloat(office1): ", parseFloat(office1) , " <br /><br />");
	document.write("<em>Var rev1: ", rev1 , "</em><br />");
	document.write("Result of parseFloat(rev1): ", parseFloat(rev1) , " <br /><br />");

	document.write("<em>Var office2: ", office2 , "</em><br />");
	document.write("Result of parseFloat(office2): ", parseInt(office2) , "<br /><br />");
	document.write("<em>Var rev2: ", rev2 , "</em><br />");
	document.write("Result of parseFloat(rev2): ", parseInt(rev2) , "<br /><br />");
	
	document.write("<em>Var office3: ", office3 , "</em><br />");
	document.write("Result of parseFloat(office3): ", typeof(office3) , " <br /><br />");
	document.write("<em>Var rev3: ", rev3 , "</em><br />");
	document.write("Result of parseFloat(rev3): ", typeof(rev3) , " <br /><br />");

	</script>
</body>

</html>
