<html>
<head><title>Homework 1</title></head>
<body>
<script type="text/javascript" language="JavaScript">

//this method writes to the document "Hello World!" and a linebreak.
document.write("<h4><em>Homework 1</em></h4><br />");
document.write("Hello World!  <br />"); 

/* defines 4 variables 
each has value of an office location
*/
var      _office1  =     "SFO"  ;
var      _office2     =    "LAX" ;
var      _office3    =    "ORD"    ;
var      _office4   =   "NYC"   ; 

//the next following 2 lines write to the document the office locations
document.write("Our office are: <br />");
document.write(_office1, " ",  _office2, " ",  _office3, " ",  _office4);

</script> 
</body> 
</html> 
