<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Hw5-4: numberPlay</title>
	<meta name="author" content="Hoa">
	<!-- Date: 05/03/10 -->
	
	<script src="myLib.js"> </script>


</head>



<body>
	<h1>External JavaScript</h1>
	<input type="button" onclick="calcSquare();" value="Run calcSquare">
	<input type="button" onclick="getNum();" value="Run getNum">
	<input type="button" onclick="writeList();" value="Run writeList">
	<input type="button" onclick="getColor('Background color?');" value="Run getColor()">


</body>

</html>