<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Map to CCSF</title>

	<meta name="author" content="Hoa">
	<!-- Date: 2010-05-04 -->

	

</head>



<body>
	<div align="center">	
	<h2>Map to CCSF</h2>

		<img src="ccsf_map.bmp" border="0" alt="CCSF_MAP" width="400" height="400">
		<form>
			<input type="button" value="Print" onclick="window.print()">
			<input type="button" value="Return" onclick="opener.focus()">
			<input type="button" value="Close" onclick="self.close()">
		</form>
	</div>

</body>

</html>
