<h3>How close is 3D Modeling to reality?</h3>

<div class="image-container">
		<p><a href="./images/Fashion_3D_Modeling/Juxtaposition.jpg" target="_blank" >
            <img src="./images/Fashion_3D_Modeling/Juxtaposition.jpg" width="800" id="Juxtaposition" align="left">
        </a></p>
</div>

<h3>Realistic visualization of a fashion design without even touching a pair of scissors. How?</h3>
<div id="flashContent">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="800" height="568" id="AoDaiTim_Animation" align="middle">
		<param name="movie" value="/flash/AoDaiTim_Animation.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#003333" />
		<param name="play" value="true" />
		<param name="loop" value="true" />
		<param name="wmode" value="window" />
		<param name="scale" value="showall" />
		<param name="menu" value="true" />
		<param name="devicefont" value="false" />
		<param name="salign" value="" />
		<param name="allowScriptAccess" value="sameDomain" />
		<!--[if !IE]>-->
		<object type="application/x-shockwave-flash" data="/flash/AoDaiTim_Animation.swf" width="800" height="568">
			<param name="movie" value="/flash/AoDaiTim_Animation" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#003333" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="window" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
		<!--<![endif]-->
			<a href="http://www.adobe.com/go/getflash">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		<!--[if !IE]>-->
		</object>
		<!--<![endif]-->
	</object>
</div>

<h3>Standard or customized model/avatar sizing</h3>
<p>Professional fashion designers can create and grade a design by the industrial S/M/L standard. Hobbyists can tailor the pattern by their own size.</p>

		<div class="image-container">
            <a href="./images/Fashion_3D_Modeling/Sizing_Illustration.jpg" target="_blank" >
                <img src="./images/Fashion_3D_Modeling/Sizing_Illustration.jpg" width="800" id="AoDaiTim_Animation" align="left">
            </a>
        </div>

<h3>Burda patterns or paper draping? It's the old-time fashion!</h3>
<p>From unfolding a piece of pattern, duplicating and mirroring pieces, matching seam line lengths, positioning button holes or zipper, to printing out the final pattern, it takes a few hours instead of weeks.</p>


		<div class="image-container">
            <a href="./images/Fashion_3D_Modeling/AoDaiTim_Pattern.png" target="_blank" >
                <img src="./images/Fashion_3D_Modeling/AoDaiTim_Pattern.png" width="800" id="AoDaiTim_Pattern" align="left">
            </a>
        </div>


