<hr />
<h3>ABC motivational program: Starting point of my career as a trainer</h3>
<p>ABC - Awareness Before Change, is an extensive 5-day training program of a Malaysia training company, L.I.B. inc.. In 2000, Prudential Vietnam bought the franchise of this program, adapted and transformed it to be the core of motivational training programs for about 30,000 staff and sell-force of the company.</p>

<table cellpadding="10" cellspacing="0">
	<caption class="IDesign_caption">When I first joined ABC training team, I was in charge of designing training materials from books, workbooks, powerpoint presentations, etc. to motivational cards, complimentary T-shirt, CDs, and promotion gifts for the program:<caption/>
	<tr>
		<td><a href="./images/instructional_design/ABC_gia_tri_thoi_diem_hien_tai.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_gia_tri_thoi_diem_hien_tai.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_khi_co_tinh_yeu.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_khi_co_tinh_yeu.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_tin_dieu.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_tin_dieu.jpg"></a></td>
	</tr>
	<tr>
		<td><a href="./images/instructional_design/ABC_tinh_than_dong_doi.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_tinh_than_dong_doi.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_tinh_than_dong_doi_B.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_tinh_than_dong_doi_B.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_y_nghia_ngay_moi.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_y_nghia_ngay_moi.jpg"></a></td>
	
	</tr>
	<tr>
		<td><a href="./images/instructional_design/T-shirt_ABC1.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/T-shirt_ABC1.jpg"></a></td>
		<td><a href="./images/instructional_design/T-shirt_ABC2.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/T-shirt_ABC2.jpg"></a></td>
	
	</tr>
</table>
<hr/>
<h3>The challenge of mobile training:</h3>
<p>One task I think was as challenging but greatly valuable was collaborating and negotiating skills with suppliers to run at least 2 motivational training programs a month in different remote locations. What do you think if I say sometimes to make sure a technical person of a very "back-road" facility would promptly respond to any problem of a sound system during the 5 days of training from 6AM - 9PM was more difficult than negotiating with the sale manager of a 4-5 stars hotels for a good accommodation package for the training attendees?
</p>
<table cellpadding="10" cellspacing="0">
	<caption class="IDesign_caption">There were variety of training settings taking place in ABC training programs</caption>
	<tr>
		<td><a href="./images/instructional_design/ABC_gia_tri_thoi_diem_hien_tai.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_gia_tri_thoi_diem_hien_tai.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_khi_co_tinh_yeu.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_khi_co_tinh_yeu.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_tin_dieu.jpg" target="_blank" ><img src="./images/instructional_design/thumbs/ABC_tin_dieu.jpg"></a></td>
	</tr>

</table>
<hr/>
<h3>Develop my training skills: from different training settings to creative instructional design</h3>
<p>Later on, I developed my career to become a corporate trainer and played a key role in instructional design process of Prudential training department.</p>
<table cellpadding="10" cellspacing="0" wide="300">
	<caption class="IDesign_caption">My training development projects varied from casual classroom settings, to more formal 2 hours on-the-stage motivational events, and to company-wide marketing projects.</caption>
	<tr>
		<td><a href="./images/instructional_design/Agency_profile.pdf" target="_blank" ><img src="./images/instructional_design/thumbs/Agency_profile.jpg"></a></td>
		
		<td><a href="./images/instructional_design/Kham_pha_ABC.pdf" target="_blank" ><img src="./images/instructional_design/thumbs/Kham_pha_ABC.jpg"></a></td>

		<td><a href="./images/instructional_design/Padd.pdf" target="_blank" ><img src="./images/instructional_design/thumbs/Padd.jpg"></a></td>
		
		<td><a href="./images/instructional_design/New_salekit_presentation_training.pdf" target="_blank" ><img src="./images/instructional_design/thumbs/New_salekit_presentation_training.jpg"></a></td>
	</tr>

</table>
<hr/>


