<hr />
<p>This is a 5-day intensive motivational training program from LIB Malaysian training company. Prudential Vietnam bought the franchise in 2001. The entire program was translated and modified to serve the company's sales force, and later also for the staff.
Later, our team developed and conducted a series of motivational courses adjacent to the ABC program. My two main responsibilities in this
    process were: conducting classes and workshops; designing courses and teaching materials:

<h3>Conducting motivational classes and workshops</h3>
<table cellpadding="10" cellspacing="0">
    <caption class="IDesign_caption">There was a variety of training settings taking place in our series of motivational training programs: Classroom, workshop, self-reflecting, team-building indoor and outdoor activities</caption>
    <tr>
        <td><iframe width="220" height="165" src="//www.youtube.com/embed/N-FTijZ9_94" frameborder="0" allowfullscreen></iframe></td>
        <td><a href="./images/instructional_design/ABC_program/Classroom_setting.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Classroom_setting.jpg"></a></td>
        <td><a href="./images/instructional_design/ABC_program/Sharing_session.png" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Sharing_session.jpg"></a></td>
    </tr>
    <tr>
        <td><a href="./images/instructional_design/ABC_program/Outdoor_activity.png" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Outdoor_activity.png"></a></td>
        <td><a href="./images/instructional_design/ABC_program/Indoor_activity.png" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Indoor_activity.png"></a></td>
        <td><a href="./images/instructional_design/ABC_program/Self_reflection_session.png" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Self_reflection_session.png"></a></td>
    </tr>

</table>
<h3>Designing courses and teaching materials</h3>
<table cellpadding="10" cellspacing="0" wide="300">

    <caption class="IDesign_caption">Presentations of some courses for which I took part in conceptualization and design. This also included the development of training aids. (The PDF presentations were converted from PowerPoint files)</caption>
    <tr>
        <td><a href="./images/instructional_design/ABC_program/Agency_profile.pdf" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Agency_profile.jpg"></a></td>

        <td><a href="./images/instructional_design/ABC_program/Kham_pha_ABC.pdf" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Kham_pha_ABC.jpg"></a></td>

        <td><a href="./images/instructional_design/ABC_program/yes_you_can.pdf" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/Yes_you_can.jpg"></a></td>

    </tr>

</table>
<table cellpadding="10" cellspacing="0">
	<caption class="IDesign_caption">Since it is a 5-day off-site intensive course, the training materials are a rich collection of a textbook, a workbook, powerpoint presentations, movies, motivational cards, complimentary T-shirt and music CDs, and promotion gifts. I created most of the vector graphics. Some photos were also taken by myself.<caption/>
	<tr>
		<td><a href="./images/instructional_design/ABC_program/ABC_gia_tri_thoi_diem_hien_tai.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/ABC_gia_tri_thoi_diem_hien_tai.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_program/ABC_khi_co_tinh_yeu.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/ABC_khi_co_tinh_yeu.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_program/ABC_tin_dieu.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/ABC_tin_dieu.jpg"></a></td>
	</tr>
	<tr>
		<td><a href="./images/instructional_design/ABC_program/ABC_tinh_than_dong_doi.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/ABC_tinh_than_dong_doi.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_program/ABC_tinh_than_dong_doi_B.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/ABC_tinh_than_dong_doi_B.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_program/ABC_y_nghia_ngay_moi.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/ABC_y_nghia_ngay_moi.jpg"></a></td>
	
	</tr>
	<tr>
		<td><a href="./images/instructional_design/ABC_program/T-shirt_ABC1.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/T-shirt_ABC1.jpg"></a></td>
		<td><a href="./images/instructional_design/ABC_program/T-shirt_ABC2.jpg" target="_tab" ><img src="./images/instructional_design/ABC_program/thumbs/T-shirt_ABC2.jpg"></a></td>

	</tr>
</table>
<hr/>
<p><i>*Currently, under <a href="http://www.salt.edu.vn/" target="_tab">SALT training and consulting company</a> whose founder was the former leader of our training team, ABC program is widely served many companies in Vietnam.</i></p>


