<p>As also stated in the <a href="/?v=personal_projects&s=spirulina">Spirulina project</a> I am a big fan of urban gardening and the
    "romantic idea" that normal person like me can be self-sustaining. If this is an unrealistic idea, at least I believe, the
    prevalent movement of urban gardening could eventually influence how foods we buy in the super market are produced
    and labelled.</p>
<h3>What is aquaponics?</h3>
<p>Per Google:</p>
</p><blockquote><p>Aquaponics is a system of aquaculture in which the waste produced by farmed fish or other aquatic creatures supplies the nutrients for plants grown hydroponically, which in turn purify the water.</p></blockquote>
<p>Everything is quite clear except about how plants can purify the water? Thanks to autotrophic bacteria available in the air using oxygen in a two-step nitrification process: it first converts the toxic amonia (NH3) or (NH4+) to nitrite (NO2-), and then to nitrate (NO3-). </p>



            <img src="./images/personal_projects/aquaponics/Aquaponics_sys_diagram.png" width="700" id="Aquaponics_diagram">

<h4>Popular aquaponics system designs:</h4>
<p><strong>RAFT</strong>: water is continually recirculated from fish tank through filters, and then large, water-filled
    shallow tanks where the plants sit on rafts with their roots dangling down into the water.</p>
<p><strong>Nutrient Film Technique (NFT)</strong>: water is continually recirculated from fish tank through filters, then
    channeled through long grow beds where the plants are grown. Their roots are kept moist by a thin film of water
    transporting nutrients originating from the fish tank.</p>
<p><strong>Media-filled Bed (Ebb and Flow)</strong>: water and fish waste from the fish tank is pumped into the
    media-filled grow bed, floods it, and is then drained back to the fish tank in a cycle. Filtered by the
    media-filled grow bed after each "ebb and flow" cycle, fish liquid excrete is converted into nutrient for plants by
    bacteria. Over time, the solids also breaks down into elements the plants can absorb. </p>
<hr/>
        <h3>My tiny aquaponics system:</h3>
  <p>So, I started with making a media-filled tiny aquaponics system to grow my Vietnamese herbs. It works like a charm
      with a simple "bell-siphon" mechanism to drain out water from the grow bed:</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/rUNfYismYOo" frameborder="0" allowfullscreen></iframe>
<p>However, problems arose when I moved on using a solar panel to run the pump. On cloudy days, or running on the
    solar-charged battery at night, the pump runs so weak that the siphon mechanism can not initiate the draining down of
    the water. As a consequence, plants turn yellowish and I have to run an extra air pump to create the water movement
    needed in the fish tank.</p>
<p>Being tired of initiating the siphon manually, I had two choices to go: hooking back to the grid or adapting the
    system to this overcast summer in Switzerland. I picked the later and converted my tiny system into a hybrid of
    media-filled "ebb-and-flow" and constant flow NFT:</p>
<table>
    <caption class="IDesign_caption">I raised the grow bed with expanded clay pebbles to achieve the "nutrient film"
        effect when the pump runs on batteries. I drilled a whole at the lower part of the drain pipe to make a constant
        flow even if the pump runs weak. With this modification, on a sunny day when the plants need water the most and
        the fish have good appetite, the siphon will activate and create a cycle of raise and fall of about 6 cm. This
        provides extra oxygen for the plants and the fish. On a overcast day or at night, a constant
        flow keeps the grow bed moist and still creates water movements needed in the fish tank.</caption>
    <tr>
        <td>
            <a href="./images/personal_projects/aquaponics/thumbs/Solar_panel.jpg" target="_blank" >
                <img src="./images/personal_projects/aquaponics/Solar_panel.jpg" width="370" id="Solar_panel">
            </a>
        </td>
        <td>
            <a href="./images/personal_projects/aquaponics/thumbs/Raise_up_grow_bed.jpg" target="_blank" >
                <img src="./images/personal_projects/aquaponics/Raise_up_grow_bed.jpg" width="370" id="Raise_up_grow_bed">
            </a>
        </td>
    </tr>

    </table>
<table>
    <caption class="IDesign_caption">To make sure the plants are well irrigated, I run the water pipe around the grow bed and made plenty of holes for the water to be evenly distributed. So far, the plants don't seem to complain any more, but it will take a while to learn whether the system is balanced.</caption>
    <tr>
        <td>
            <a href="./images/personal_projects/aquaponics/thumbs/Channel_water.jpg" target="_blank" >
                <img src="./images/personal_projects/aquaponics/Channel_water.jpg" width="370" id="Channel_water">
            </a>
        </td>
        <td>
            <a href="./images/personal_projects/aquaponics/thumbs/Green_grow_bed.jpg" target="_blank" >
                <img src="./images/personal_projects/aquaponics/Green_grow_bed.jpg" width="370" id="Green_grow_bed">
            </a>
        </td>
    </tr>

</table>
<table>
    <caption class="IDesign_caption">The next 2 things in my list is using the suction from the pump to create a filter
        to remove the fish solids from the tank. And to set-up pH, dissolved oxygen, ORP, and conductivity sensors with
        an Arduino Mega 2650 to measure and record data to learn about the system.</caption>
    <tr>
        <td>
            <a href="./images/personal_projects/aquaponics/thumbs/Filter_design.jpg" target="_blank" >
                <img src="./images/personal_projects/aquaponics/Filter_design.jpg" width="370" id="Filter_design">
            </a>
        </td>
        <td>
            <a href="./images/personal_projects/aquaponics/thumbs/Atlas_scientific_kits.jpg" target="_blank" >
                <img src="./images/personal_projects/aquaponics/Atlas_scientific_kits.jpg" width="370" id="Atlas_scientific_kits">
            </a>
        </td>
    </tr>

</table>
</div>