<?php require(CONTROLLERS.'personal_projects.php');?>
<p>I like computer but I also like sewing. Tackling computer-assisted embroidery process was a task that I carried out:</p>
        <ul>
            <li>Using Adobe Photoshop and Illustrator to create either .jpg or .wmf files</li>
            <li>Using PE-Design embroidery software from Brother to convert and to edit .jpg/.wmf into .pes files</li>
            <li>Transfering the .pes files to flash card in my Brother sewing & embroidery machine</li>
        </ul>
        <br/>
<p>Here are some results:</p>


<div>

    <script type="text/javascript">
        numPerPage = 3;
    </script>


    <?php
        /* Default table size is Default is $height = '200px', $width = '160px' */
        echo $folder->display_img_table($imgs);

    ?>

</div>
<br/>
<p>The first time I had my Brother punching threads into a self-made embroidery design:</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/2XbhKzUKeE8" frameborder="0" allowfullscreen></iframe>
<br/>