<h3>Linen Shirt</h3>
<br/>
<div id="flashContent">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="790" height="568" id="Lukas_Shirt_w_Cargo_Pants_DifferentCamera" align="middle">
		<param name="movie" value="/flash/Lukas_Shirt_w_Cargo_Pants_DifferentCamera.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#003333" />
		<param name="play" value="true" />
		<param name="loop" value="true" />
		<param name="wmode" value="window" />
		<param name="scale" value="showall" />
		<param name="menu" value="true" />
		<param name="devicefont" value="false" />
		<param name="salign" value="" />
		<param name="allowScriptAccess" value="sameDomain" />
		<!--[if !IE]>-->
		<object type="application/x-shockwave-flash" data="/flash/Lukas_Shirt_w_Cargo_Pants_DifferentCamera.swf" width="790" height="568">
			<param name="movie" value="/flash/Lukas_Shirt_w_Cargo_Pants_DifferentCamera" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#003333" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="window" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
		<!--<![endif]-->
			<a href="http://www.adobe.com/go/getflash">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		<!--[if !IE]>-->
		</object>
		<!--<![endif]-->
	</object>
</div>
<br/>

<iframe frameborder="0" height="440" width="790" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true" src="http://skfb.ly/5jgfe1dc0b?autostart=0&transparent=0&autospin=0&controls=1&watermark=1"></iframe>

<h3>Cargo Pants and T-Shirt</h3>
<div id="flashContent">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="790" height="568" id="Lukas_BlueTShirt_w_Cargo_Pants_10" align="middle">
		<param name="movie" value="/flash/Lukas_BlueTShirt_w_Cargo_Pants_10.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#003333" />
		<param name="play" value="true" />
		<param name="loop" value="true" />
		<param name="wmode" value="window" />
		<param name="scale" value="showall" />
		<param name="menu" value="true" />
		<param name="devicefont" value="false" />
		<param name="salign" value="" />
		<param name="allowScriptAccess" value="sameDomain" />
		<!--[if !IE]>-->
		<object type="application/x-shockwave-flash" data="/flash/Lukas_BlueTShirt_w_Cargo_Pants_10.swf" width="790" height="568">
			<param name="movie" value="/flash/Lukas_BlueTShirt_w_Cargo_Pants_10" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#003333" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="window" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
		<!--<![endif]-->
			<a href="http://www.adobe.com/go/getflash">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		<!--[if !IE]>-->
		</object>
		<!--<![endif]-->
	</object>
</div>
<br/>

<iframe frameborder="0" height="440" width="790" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true" src="http://skfb.ly/5j2fe0?autostart=0&transparent=0&autospin=0&controls=1&watermark=1"></iframe>
<br/>
<br/>

<h3>Cargo Pants and Orange T-Shirt</h3>
<br/>

<div id="flashContent">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="790" height="568" id="Lukas_OrangeTShirt_w_Cargo_Pants5" align="middle">
		<param name="movie" value="/flash/Lukas_OrangeTShirt_w_Cargo_Pants5.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#003333" />
		<param name="play" value="true" />
		<param name="loop" value="true" />
		<param name="wmode" value="window" />
		<param name="scale" value="showall" />
		<param name="menu" value="true" />
		<param name="devicefont" value="false" />
		<param name="salign" value="" />
		<param name="allowScriptAccess" value="sameDomain" />
		<!--[if !IE]>-->
		<object type="application/x-shockwave-flash" data="/flash/Lukas_OrangeTShirt_w_Cargo_Pants5.swf" width="790" height="568">
			<param name="movie" value="/flash/Lukas_OrangeTShirt_w_Cargo_Pants5" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#003333" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="window" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
		<!--<![endif]-->
			<a href="http://www.adobe.com/go/getflash">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		<!--[if !IE]>-->
		</object>
		<!--<![endif]-->
	</object>
</div>
<br/>

<iframe frameborder="0" height="440" width="790" allowFullScreen webkitallowfullscreen="true" mozallowfullscreen="true" src="http://skfb.ly/5jge1dca?autostart=0&transparent=0&autospin=0&controls=1&watermark=1"></iframe>
<br/>
<br/>
