<h2>
    <div class="vi">
        <h2>Đôi nét về ba đời họ Trương<br/> qua hồi ức của một người<hr/>Trương Văn Giới</h2>
    </div>
    <div class="en">
        <h2>A glance at a three generations of Truong clan <br/> from a memoir of one <hr/> Truong Van Gioi</h2>
    </div>
    <div class="de">
        <h2>[DE] <br/> from a memoir of one <hr/> Truong Van Gioi</h2>
    </div>
</h2>

<div timePeriod="06-2014" location="HCM" personID="1" >

    <h3 class="vi">Giới thiệu</h3>
    <h3 class="en">Introduction</h3>
    <h3 class="de">Introduktion</h3>

    <div class="story" time="06-2014" location="HCM" personID="1">

        <div class="vi">
            <p>Ở Việt Nam, việc viết và lưu truyền gia phả dòng họ đã có truyền thống lâu đời, những năm gần đây càng phát triển hơn. Nhưng chủ yếu vẫn ở các danh gia vọng tộc. Cũng có đôi lúc tôi nảy sinh ý nghĩ viết gia phả chi họ Trương ở thôn Nội, xã Bảo Lý, huyện Lý Nhân, tỉnh Hà Nam. Song lại thấy gia tộc mình chỉ là một gia tộc bình thường, hết sức bình thường, hơn nữa những thông tin, tư liệu về họ tộc mà tôi biết quá ít ỏi, vì vậy lại từ bỏ ý định đó</p>
        </div>

        <div class="en">
            <p>Vietnam has a long tradition of keeping a genealogy book and family history. Recently it has been more even more popular; but still mostly in grand, upper-class families. Once or twice I was thinking of writing one for my Trương family, the one from Nội Village, Bảo Lý, Lý Nhân, Hà Nam province. However, my family is an ordinary, very ordinary one. On top of that, my knowledge of the family is limited. Therefore, I gave up the idea.</p>
        </div>

        <div class="de">
            <p>In Vietnam gibt es eine lange Tradition, Genealogien und Familienbücher zu führen. Diese Tradition hat in letzter Zeit sogar noch an Leben gewonnen; am stärksten ist sie jedoch in Oberschichtsfamilien. Ein oder zweimal erwägte ich, so ein Familienbuch auch fuer meine Familie zu schreiben, die Familie Truong aus dem Dorf Noi, Ly Nhan, in der Ha Nam Provinz. Diese meine Familie ist aber gewöhnlich, sehr gewönlich. Ueberdies ist mein Wissen über die Familie beschränkt. Daher gab ich die Idee auf.</p>
        </div>

    </div>


    <div class="story" time="06-2014" location="HCM" personID="1">
        <div class="vi">
            <p>Gần đây người con gái út của tôi từ nước ngoài về thăm gia đình, cháu nói người gia đình nhà chồng hỏi về cha mẹ, ông bà, cháu chẳng có gì nhiều để nói, cảm thấy xấu hổ với người ta. Tôi quyết định viết đôi nét về ông bà bố mẹ tôi và vợ chồng tôi dưới dạng hỗn hợp giữa gia phả và hồi ký. Mong muốn giúp con cháu sau này biết thêm về dòng họ, quan trọng hơn biết được những cái hay cái dở của cha ông để noi theo và né tránh trong cuộc đời mình.</p>
        </div>
        <div class="en">
            <p>Recently my youngest daughter visited us from abroad. She said that she felt ashame that she doesn’t know much about her parents and grand parents when her in-laws were asking about them . I decided to write a selection of stories, a mix of my memoir and the family genealogy, about my grandparents, my parents, me and my wife. I wish that those stories not only make the knowledge of the family available to my children and their children, but also they could learn from the good and bad of our life to make wise choices in their own lives.</p>
        </div>
        <div class="de">
            <p>Kuerzlich besuchte uns meine jüngste Tochter aus dem Ausland. Sie erzählte, sie hätte sich geschämt, so wenig über ihre Eltern und Grosseltern zu wissen, als ihre Schwiegerfamilie sie danach fragte. Ich entschied mich, eine Auswahl von Geschichten zu schreiben, eine Mischung aus Memoiren und Familiengenealogie, über meine Grosseltern, Eltern, mich und meine Frau. Diese Geschichten sollen nicht nur das Wissen über meine Familie meinen Kindern und deren Kindern weiter geben; ich hoffe auch, dass diese vielleicht aus den glücklichen und weniger glücklichen Entscheidungen in unserer Familie etwas lernen können.</p>
        </div>
    </div>



</div>

<div class="story" timePeriod="2014" location="HCM" personID="1" >
    <h3 class="vi">Thôn Nội</h3>
    <h3 class="en">Noi Village</h3>
    <h3 class="de">Dort Noi</h3>

    <div class="para" time="06-2014" location="HCM" personID="1">
        <div class="vi">
            <p>Quê tôi ở thôn Nội, xã Bảo Lý, huyện Lý Nhân, tỉnh Hà Nam.</p>
        </div>
        <div class="en">
            <p>I came from Nội village, Bảo Lý rural commune,Lý Nhân district, Hà Nam province.</p>
        </div>
        <div class="de">
            <p>Ich kommt aus Dort Noi, Bao Ly village, Ly Nhan ..., Ha Nam ...</p>
        </div>
    </div>

    <div class="para" time="06-2014" location="HCM" personID="1">
        <div class="vi">
            <p>Tỉnh Hà Nam có diện tích 849km 2, dân số 791.818 người (số liệu 2000), tỉnh lỵ: thị xã Phủ Lý (sau này đổi tên là thị xã Hà Nam – năm trên QL1) và 5 huyện là Kim bảng, Lý Nhân, Thanh liêm, Bình Lục, Duy Tiên. Hà Nam có hai sông lớn là sông Đáy và sông Châu Giang. Sông Châu Giang chảy qua huyện Lý Nhân và chảy vào sông Hồng, sông Luộc chủ yếu nằm trên địa phận tỉnh Thái Bình, có một đoạn nằm ở địa phận Lý Nhân, là chi lưu của sông Hồng. Vĩnh Trụ là thị trấn của huyện Lý Nhân (được chính thức công nhận là thị xã vào 2/1987), nằm trên đường cái lớn đi Phủ Lý và đi các huyện khác trong tỉnh, phố chợ Cầu Không là một thị tứ của xã Bảo Lý. </p>
        </div>
        <div class="en">
            <p>I came from Nội village, Bảo Lý rural commune,Lý Nhân district, Hà Nam province.</p>
        </div>
        <div class="de">
            <p>Ich kommte aus Dort Noi, ... Bao Ly, Ly Nhan, Ha Nam</p>
        </div>
    </div>

    <div class="para" time="06-2014" location="HCM" personID="1">
        <div class="vi">
            <p>Tỉnh Hà Nam có diện tích 849km 2, dân số 791.818 người (số liệu 2000), tỉnh lỵ: thị xã Phủ Lý (sau này đổi tên là thị xã Hà Nam – năm trên QL1) và 5 huyện là Kim bảng, Lý Nhân, Thanh liêm, Bình Lục, Duy Tiên. Hà Nam có hai sông lớn là sông Đáy và sông Châu Giang. Sông Châu Giang chảy qua huyện Lý Nhân và chảy vào sông Hồng, sông Luộc chủ yếu nằm trên địa phận tỉnh Thái Bình, có một đoạn nằm ở địa phận Lý Nhân, là chi lưu của sông Hồng. Vĩnh Trụ là thị trấn của huyện Lý Nhân (được chính thức công nhận là thị xã vào 2/1987), nằm trên đường cái lớn đi Phủ Lý và đi các huyện khác trong tỉnh, phố chợ Cầu Không là một thị tứ của xã Bảo Lý. </p>
        </div>
        <div class="en">
            <p></p>
        </div>
        <div class="de">
            <p></p>
        </div>
    </div>
    <div class="story" time="06-2014" location="HCM" personID="1">
        <div class="vi">
            <p></p>
        </div>
        <div class="en">
            <p></p>
        </div>
        <div class="de">
            <p></p>
        </div>
    </div>

</div>
