
<p>Please check out the following links for samples of my graphic design works.</p>
<table>
    <tr>
        <td>
            <ul>
                <li><a href="?v=computer_skills&s=graphic_design&f=book_covers">Book covers</a></li>
                <li><a href="?v=computer_skills&s=graphic_design&f=magazine_covers">Magazine covers</a></li>
                <li><a href="?v=computer_skills&s=graphic_design&f=product_packaging">Product packaging</a></li>
                <li><a href="?v=computer_skills&s=graphic_design&f=posters">Posters</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><a href="?v=computer_skills&s=graphic_design&f=technical_diagrams">Technical diagrams</a></li>
                <li><a href="?v=computer_skills&s=graphic_design&f=drawings">Drawings</a></li>
                <li><a href="?v=computer_skills&s=graphic_design&f=UI_design">UI_design</a></li>
                <li><a href="?v=computer_skills&s=graphic_design&f=logo_n_more">Logo and mics</a></li>
            </ul>
        </td>
    </tr>
</table>



<hr />


<h3><?php
    if (isset($_GET['f']) == null) { echo ucfirst(str_replace('_',' ',$_GET['s']));
        } else {echo ucfirst(str_replace('_',' ',$_GET['f']));} ?>


</h3>

                <div>
                    <script type="text/javascript"> numPerPage = 3;</script>
                    <?php echo $folder->display_img_table($imgs,'220px','220px');?>
                </div>

<br />
<br />
<hr />

