<p>"DARK is nothing but absence of LIGHT"<br/>
	"FEAR is nothing but absence of LOVE"<br/>
"MIND is nothing but absence of PRESENCE"<br/>
<i>~osho</i> 
<br/>
<br/>

<strong><i>myJourney</i> is my embrace for both of DARKNESS and BRIGHTNESS, both of my FEARS and my LOVES, both of my little MIND and the PRESENCE of NO-MIND </strong><i>~hoa</i>
</p>
<a href="<?php echo htmlentities("?v=home&s=about_me");?>"><img src='./images/hoa/SF_from_Berkerley_landscape.jpg' width="779px" alt="home_page"/></a>