



<hr/>
<h3>Completion of a JavaScript class (CNIT133/CCSF) in 2010:</h3>
<p><strong><i>Required final project:</i></strong> Completion of a self-developed Ajax snippet: &nbsp<button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/ajax/ajaxhelp.html','Ajax','width=200,height=400');">Ajax</button><p>

<p><strong><i>In-class final exam:</i></strong> 4 questions to be completed in 90': </p>
<table cellpadding="10" cellspacing="0">
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/final_exam_1.html','finalExam1','width=800,height=600');">Final Exam 1</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/final_exam_2.html','finalExam1','width=800,height=600');">Final Exam 2</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/final_exam_3.html','finalExam1','width=800,height=600');">Final Exam 3</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/final_exam_4.html','finalExam1','width=800,height=600');">Final Exam 4</button></td>
    </tr>
</table>
<p><strong><i>Homeworks:</i></strong> a handful of small exercises in DOM manipulation. Examples: </p>
<table>
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw6/contact.html','hw6');">Contact CCSF</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw9/colorSettings.html','hw4-6','width=800,height=600');">Color Settings</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw9/events.html','hw5-3','width=800,height=600');">Event</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw10/formvalidation.html','hw10','width=800,height=600');">Form Validation</button></td>
    </tr>
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw7/resizeImg_w_delay.html','hw4-6','width=800,height=600');">Resize Image</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw7/enlarge_table.html','hw5-3','width=800,height=600');">Enlarge Table</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw8/menu.html','hw6-1','width=800,height=600');">Dropdown Menu</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw8/scrollingtext.html','hw6-2','width=800,height=600');">Text Scrolling</button></td>
    </tr>
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw4/table.html','hw4-6','width=800,height=600');">Table</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw5/numberPlay.html','hw5-3','width=800,height=600');">Play Number</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw6/getBrowserInfo.html','hw6-1','width=800,height=600');">getBrowserInfo</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw6/map.html','hw6-2','width=800,height=600');">map</button></td>
    </tr>
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw4/countprompts.html','hw4-2','width=800,height=600');">Count Prompts</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw4/favbooks.html','hw4-3','width=800,height=600');">Fav. Books</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw4/getdestinations.html','hw4-4','width=800,height=600');">Get Destinations</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw4/getnum1to100.html','hw4-5','width=800,height=600');">GetNum 1-100</button></td>
    </tr>
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw4/ageentitlements.html','hw4-1','width=800,height=600');">Age Entitlement</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw3/hw3-opt2.html','hw3-opt2','width=800,height=600');">Homework 3-6</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw3/hw3-opt1.html','hw3-opt1','width=800,height=600');">Homework 3-5</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw3/hw3-4.html','hw3-4','width=800,height=600');">Homework 3-4</button></td>
    </tr>
    <tr>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw3/hw3-1.html','hw3','width=800,height=600');">Homework 3-1</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw3/hw3-2.html','hw3-2','width=800,height=600');">Homework 3-2</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw2/hw2.html','hw2','width=800,height=600');">Homework 2</button></td>
        <td><button onclick="window.open('./phplib/views/cnit133CCSF-JavaScript/hw1/hw1.html','hw1','width=800,height=600');">Homework 1</button></td>
    </tr>


</table>