<?php require(CONTROLLERS.'graphic_design.php');?>

<!-- 
	<p>Logo is one of the most difficult designing skill in my experience. Not only creativity is needed but also an deep understanding of the business essence as well as ability to foresee how the logo will be publish in different material and different circumstance.</p>
	
	<p>Thanks for visiting my design page. Follow the links on left if you like to check out my other design samples.</p>
	
-->


<div>
	<script type="text/javascript">
	        numPerPage = 6;
	</script>
	


        <?php

        echo $folder->display_img_table($imgs,'240px','220px');

        ?>

</div>