<!--<p>If there is something that is effortless for me to acquire it, that is designing. The only difficulty in designing is to satisfy with my work. I can spend hours sticking my eyes in a monitor, just to make some tiny adjustment, or just basically do everything over again. I am pretty happy that I don't treat other things in my life as in designing!'</p> 
<p>Thanks for visiting my design page. Follow the links on left if you like to check out my design samples.</p>

-->
<img src="./images/hoa/graphic.jpg" width="778px"/>
