
<table cellpadding="10" cellspacing="0" wide="300">
	<caption class="IDesign_caption">Click on a thumbnail to download the presentation files.</caption>
	<tr>
		
		<td><a href="./images/instructional_design/presentations/Lockout_application.key" target="_blank" ><img src="./images/instructional_design/presentations/thumbs/Lockout_application.jpg"></a></td>
		
		<td><a href="./images/instructional_design/presentations/ABC1day.key" target="_blank" ><img src="./images/instructional_design/presentations/thumbs/ABC1day.jpg"></a></td>
		
		<td><a href="./images/instructional_design/presentations/Hoggy_and_Meerkat.ppt" target="_blank" ><img src="./images/instructional_design/presentations/thumbs/Hoggy_and_Meerkat.jpg"></a></td>		

	</tr>

</table>