<p><i>If you are not familiar with website development, please read  <a href="#FYI">"Web Development Terms"</a> at the end of this page.</i></page>

	
<h3>WEB DESIGN</h3>
<p style="color:DarkRed"><italic><strong>We provide up to 3 versions of a webpage mockup free of charge!</strong></italic></p>
<p>Once customer is satisfied with a mockup, we charge $100 for each main page, $30 for each subpage sharing a layout with other pages. </p>
<p>For example, www.cotire.com has 8 main pages: </br>About us | Products | Performance | Distributorship | Service | News & Events | Employment | Contact </p>
</br>
<a href="http://www.cotire.com"><img src='./images/quotes/cotire_main_pages.png' width="700px" alt="Example of cotire.com main pages" style="border:1px solid black" /></a>
</br>
</br>
<p>The following two pages are subpages: </p>
</br>
<a href="http://www.cotire.com"><img src='./images/quotes/cotire_subpage_OTRTires.png' width="700px" alt="Example of cotire.com subpages" style="border:1px solid black" /></a>
</br>
</br>
</br>
<a href="http://www.cotire.com"><img src='./images/quotes/cotire_subpage_Forklift.png' width="700px" alt="Example of cotire.com subpages" style="border:1px solid black" /></a>
</br>
</br>
</br>
<p><strong>Flash content:</strong> $40 to $100 depends on the complexity of the flash animation/interaction and of images processing </p>
<p>Once customer is satisfied with a mockup, we charge $100 for each main page, $30 for each subpage sharing a layout with other pages. </p>

<p style="color:DarkRed"><i>If customers choose to build a Content Management System with us, web design is completely free-of-charge!'</i></p>

</br>

<h3>MAINTENANCE</h3>

<p><strong>Web domain:</strong> If the customer has not owned a domain, we will assist customer to purchase one from a domain vendor. FYI, up to a $30 a year is the current market price for a normal web domain.</p>

<p><b><strong>Web hosting:</strong> $30/month for a static website.</b></p>

<p><b><strong>Content update:</strong> If a website does not have a CMS, we have to update the content manually per customer request. Labor cost for updating content is $50 per hour, but not less than $30 per request. Request to update content will be completed within 3 business days.</b></p>
</br>

<h3>CMS: $5000 one-time charged for everything!</h3>

<p style="color:DarkRed">No design fee</p>
<p style="color:DarkRed">No content updating fee</p>
<p style="color:DarkRed">No maintenance fee except a $30 per month for static website hosting</p>
</br>
</br>
</br>
<hr>


<h3><a name="FYI">WEB DEVELOPMENT TERMS</a> </h3>
</br>
<p><strong>Static vs. dynamic website</strong>: In a static website, its content is fixed or has to be manually changed while what is shown on a page of a dynamic website is based on user-selected activities and/or programmatically driven. For example, http://www.cotire.com/ is a static website, facebook is a dynamic one.</p>

</br>

</br>
<p><strong>A web design mockup:</strong> is a "screenshot" of the webpage showing how the page looks before the web development taking place. For example, this mockup was designed and approved before we developed http://www.mandarina.ch</p>
<a href="http://www.mandarina.ch"><img src='./images/graphic_design/UI_design/Madarina-mockup_home.jpg' width="700px" alt="web design mockup example" style="border:1px solid black" /></a>
</br>
</br>
</br>
<p><strong>Content Management System (CMS):</strong> is a computer program that allows end users, Colorado Tire Corporation in this case,  publishing, editing the content of the website via webpages. This is an example of a CMS similar to of www.cotire.com that we have developed. (We cannot provide neither backend access nor real backend data of our existing customers due to security reason):</p>
</br>
<a href="http://nguoidepmagazine-ny.com"><img src='./images/graphic_design/CMS_example/NguoiDepMagazine-NY_DashBoard.png' width="700px" alt="CMS example" style="border:1px solid black" /></a>

</br>
</br>
</br>
<p><strong>Flash content/banner:</strong> is the graphic animation used on web sites to make them visually interesting and interactive. A sample:
	</br>
	<div id="flashContent">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="700" height="500" id="TechEntrepreneurship-Worst_to_Better" align="middle">
			<param name="movie" value="/flash/TechEntrepreneurship-Worst_to_Better.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#000000" />
			<param name="play" value="true" />
			<param name="loop" value="true" />
			<param name="wmode" value="window" />
			<param name="scale" value="showall" />
			<param name="menu" value="true" />
			<param name="devicefont" value="false" />
			<param name="salign" value="" />
			<param name="allowScriptAccess" value="sameDomain" />
			<!--[if !IE]>-->
			<object type="application/x-shockwave-flash" data="/flash/TechEntrepreneurship-Worst_to_Better.swf"  width="700" height="500">
				<param name="movie" value="/flash/TechEntrepreneurship-Worst_to_Better.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#000000" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />
				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
			<!--<![endif]-->
				<a href="http://www.adobe.com/go/getflash">
					<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
				</a>
			<!--[if !IE]>-->
			</object>
			<!--<![endif]-->
		</object>
	</div></p>








