<h3>A little curious meer kat</h3>
<table>
	<tr>
		<td><a href="./images/hoa/830500_Hoa_@_Vung-Tau.jpg" target="_blank" ><img src="./images/hoa/thumbs/830500_Hoa_@_Vung-Tau.jpg"></a></td>
		
		<td><a href="./images/hoa/Hoa_3yrs_+_PhuAnty.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_3yrs_+_PhuAnty.jpg"></a></td>
		
		<td><a href="./images/hoa/Hoa-85.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa-85.jpg"></a></td>
	</tr>
	
</table>
<hr />

<h3>Gymnastic school from 5 to 14 year-old</h3>
<p>A memorable time. I finally became the national champion when 13 as an "underdog".<br />
	This was my 4 coaches, and my team the second year at a picnic. Count all of us please! ...because by the time we matured to compete, only 4 of us left with the 4 coaches!</p>
<table>
	<tr>
		<td><a href="./images/hoa/Hoa_uon_deo.png" target="_blank" ><img src="./images/hoa/thumbs/Hoa_uon_deo.png"></a></td>
		<td><a href="./images/hoa/Hoa_+_Gymnastic_Team_n_Coaches_@_Zoo.jpg" target="_blank" ><img src="./images/hoa/Hoa_+_Gymnastic_Team_n_Coaches_@_Zoo.jpg" width="450px"></a></td>		
	</tr>
	
</table>
<hr />
<h3>Always catching up!</h3>
<p>After leaving my gymnastic school, I joined many other teams: from handball teams, volleyball teams, tennis teams, and a high school singing team. It was the happy old time. I was always at top-performance in speed and catching-up in speech due to years in the gymnastic school of over physical training and under social skills practicing! </p>
<table>
	<tr>
		<td><a href="./images/hoa/Hoa_+_LawUniversity_Volleyball_Team.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_+_LawUniversity_Volleyball_Team.jpg"></a></td>	
		<td><a href="./images/hoa/Hoa_+_handball_team.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_+_handball_team.jpg"></a></td>		
		<td><a href="./images/hoa/Hoa_@_BTX_Highschool_Performance.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_@_BTX_Highschool_Performance.jpg"></a></td>
	</tr>
	
</table>
<hr />
<h3>I was old enough to wear my traditional outfit.</h3>
<p>When I turned to 18, like American celebrating their 21, I went to a photo studio with my first not-in-white Ao Dai. (High school Ao dai uniform is white:). The makeup lady made me looked like 30. However, I was very happy as looked like a "lady" at my 18!</p>
<table>
	<tr>
		<td><a href="./images/hoa/Hoa_18_year_old_2.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_18_year_old_2.jpg"></a></td>
		<td><a href="./images/hoa/Hoa_18_year_old.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_18_year_old.jpg"></a></td>		
				<td><a href="./images/hoa/Hoa_20_year_old.jpg" target="_blank" ><img src="./images/hoa/thumbs/Hoa_20_year_old.jpg"></a></td>	
	</tr>
	
</table>
<hr />

