<p>I endorse the "romantic idea" that it is possible for a normal urban person like me to be self-sustaining. If this is
  an unrealistic idea, at least, the prevalence of urban gardening could eventually become a counter-balancing force
  toward how the food we buy in the super market are produced and labelled. </p>
    <p>The idea of growing Spirulina came from my other project <a href="/?v=personal_projects&s=aquaponics">Aquaponics</a>.
      To maintain the vital balance in an aquaponics system, sun light on the fish tank has to be avoided to prevent
      algae from developing. I was thinking if we have to put resources into killing algae, why not using these resources
      to grow them? </p>
    <p>Aquaponics is an almost self-sustaining system. Its only input from outside is fish food, which is problematic
      because in current common aquaponics production, food for farmed fish is made from ... wild fish! Growing algae is
      a twofold solution: 1. to feed the fish and 2. to block sun light shining onto the fish tank that will develop
      unwanted algae, which will potentially clog the system. On top of that, Spirulina could give a wide range of healthy
      nutrients that fish and vegetables produced in an aquaponics system can't provide.</p>

<hr/>
<h3>What is Spirulina?</h3>
<p>Spirulina is a micro-alga, a single cell plant that lives floating in water.</p>

<hr/>
<h3>How do I grow Spirulina?</h3>
<p>I started by driving to Oakland, California, the second last day before moving to Switzerland, to buy a bottle of
  Spirulina culture and its fertilizers. </p>
<p>It was not easy to keep the culture alive through a long flight and the 2 months when we haven't found our own
  apartment to set the growing tanks up. Until the system was stable, I had to restart the Spirulina medium 3 times.</p>

<div class="image-container">
    <table>
        <caption class="IDesign_caption"> Left picture: I was babysitting the Spirulina culture at my parents-in-law's.
          Right picture: when the Spirulina was not doing well.<br/></caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Babysit_Spirulina_culture.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Babysit_Spirulina_culture.jpg" width="370" id="babasit_spirulina_culture">
                </a>
            </td>
            <td>
                <a href="./images/personal_projects/spirulina/Problem_w_Spirulina.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Problem_w_Spirulina.jpg" width="370" id="problem_w_spirulina">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="image-container">
    <table>
        <caption class="IDesign_caption">The growing system has been stable for 6 months and we have many times enjoyed
          our home-grow Spirulina.</caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Harvest.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Harvest.jpg" width="370" id="harvest_spirulina">
                </a>
            </td>
            <td>
                <a href="./images/personal_projects/spirulina/Enjoy_Spirulina.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Enjoy_Spirulina.jpg" width="370" id="enjoy_spirulina">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="image-container">
    <table>
        <caption class="IDesign_caption">My next step is to use RGB, pH, temperature sensors and an Arduino Mega 2560 to
          record correlative data to learn about the health and the development of Spirulina under certain circumstances. </caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Arduino_Mega_2560.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Arduino_Mega_2560.jpg" width="370" id="Arduino_Mega_2560">
                </a>
            </td>
            <td>
                <a href="./images/personal_projects/spirulina/RGB_sensor.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/RGB_sensor.jpg" width="370" id="RGB_sensor">
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="image-container">
    <table>
        <caption class="IDesign_caption">And making some new tools and grow settings to ease the growing and harvesting
          process:</caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Algae_growing_tools.pdf" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Algae_growing_tools.jpg" width="370" id="Algae_growing_tools">
                </a>
            </td>
        </tr>
    </table>
</div>
<hr/>

<h3>Why growing Spirulina?</h3>
            <p>Spirulina can be farmed with minimal resources like: a bright window and 10 liters of water. </p>
            <p>It is incredible productive: 1 cell of Spirulina can reproduce another 7 cells within a day. 50+ % of a
              Spirulina cell's body is oil versus 2-3% for soybean and many other typical crops currently used for oil.
              This means growing Spirulina is 20x times more productive than growing conventional land crops, yet it can
              be grown in spaces/conditions that are impossible for other plants to thrive.</p>
            <p>It has about 65% complete protein, twice the density of beef or sushi - and the remainder is anti-oxidants,
              essential omega-3 fatty acids and other healthy substances that can not be found in other foods, such as
              blue pigment phycocyanin and allophycocyanin. Clinical studies have consistently shown dramatic benefits of
              Spirulina consumption in animals and humans: improving stamina, balancing the immune system, leveling blood
              sugar, reducing blood cholesterol, increasing beneficial bacteria in the gut, and protection against toxins,
              as well as anti-inflammatory, anti-viral, and anti-cancer properties.*</p>
            <p>Last but not least, among 30,000 known species of algae, Spirulina is the only one which is edible, feasible
              and safe to grow at home.</p>
            <p>People eat fresh berries, but they also eat dried berries. Dried Spirulina is sold in tablets or powder at pharmacies or healthy food stores. Like berries, the differences of the dried and fresh Spirulina are the taste and the nutrients being lost in the drying process.</p>
<p> There are many studies about the benefits of consuming Spirulina, but there is very few information available
    about contamination of Spirulina products. Since Spirulina does not have a cell wall, it is vulnerable to contamination from the environment. The two most common and dangerous contaminators are microcystins and
    heavy metals. <a href="http://www.naturalnews.com/039145_chlorella_heavy_metals_lab_tests.html#ixzz341mft94D" target="_tab">
                This article about how "clean" of Chlorella</a>, a sister of Spirulina super-food, will give us an idea
              what to look for when buying Spirulina tablets. Growing Spirulina ourselves is the good way to make sure
              the Spirulina we consume is safe.</p>


<p>Spirulina tends to accumulate energy-storage products (carbonhydrates and oil) during the course of the day as they
  soak in light energy, then use this energy to split/grow at night. For this reason, it has highest protein and lowest
  oil at dawn and vice versa. (The difference is about 25% from dawn to dusk). Therefore, if you want to use Spirulina
  to build muscles, it is best to consume Spirulina harvested in the morning. If you want the healthy fatty acids Omega-3
  you will get the best results taking Spirulina harvested in the late afternoon. The only feasible way to acquire the
  "dawn" or "dusk" Spirulina is growing them on your own.</p>


        <p class="notation">* see Spirulina in Human Nutrition and Health, M.E. Gershwin and A. Belay eds., CRC Press, 2008.</p>
<hr/>
