<p>I endorse the "romantic idea" that it is possible for a normal urban person like me to be self-sustaining. If this is an unrealistic idea, at least, the prevalence of urban gardening could eventually become a counter-balanced force toward how foods from super markets are produced and labelled for us. </p>
    <p>The idea of growing Spirulina came from my other project "Aquaponics". To maintain the vital balance in an aquaponics system, sun light into the fish tank has to be eliminated to avoid developing of algae. I was thinking if we has to put resource into killing algae, why not using the resource to grow it? </p>
    <p>Aquaponics is an almost self-sustaining system. Its only input from outside is fish food, which is problematic because in current common aquaponics production, food for farmed fish is made from ... wild fish! Growing algae is a twofold solution: 1. to feed the fish and 2. to block sun lights coming into fish tank that will develop unexpected algae which will potentially clog the system. On top of that, Spirulina could give a wide range of healthy nutrients that fish and vegetables being produced in an aquaponics system don't have.</p>

<hr/>
<h3>What is Spirulina?</h3>
<p>Spirulina is a micro-alga, a single cell plants that live floating in water.</p>

<hr/>
<h3>How do I grow Spirulina?</h3>
<p>I started by driving to Oakland - California the second last day before moving to Switzerland to buy a bottle of Spirulina culture and its fertilizers. </p>
<p>It was not easy to keep the culture alive through a long flight and the 2 months when we haven't found our own apartment to set the growing tanks up. Untill the system was stable, I had to restart the Spirulina medium 3 times.</p>

<div class="image-container">
    <table>
        <caption class="IDesign_caption"> The left picture: I was babysiting the Spirulina culture at my parents-in-law's. The right one: when the Spirulina was not doing well.<br/></caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Babysit_Spirulina_culture.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Babysit_Spirulina_culture.jpg" width="370" id="babasit_spirulina_culture">
                </a>
            </td>
            <td>
                <a href="./images/personal_projects/spirulina/Problem_w_Spirulina.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Problem_w_Spirulina.jpg" width="370" id="problem_w_spirulina">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="image-container">
    <table>
        <caption class="IDesign_caption">The growing system has been stable for 6 months and we have a plenty of times enjoying our home-grow Spirulina.</caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Harvest.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Harvest.jpg" width="370" id="harvest_spirulina">
                </a>
            </td>
            <td>
                <a href="./images/personal_projects/spirulina/Enjoy_Spirulina.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Enjoy_Spirulina.jpg" width="370" id="enjoy_spirulina">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="image-container">
    <table>
        <caption class="IDesign_caption">My next step is to use RGB, pH, temperature sensors and an Arduino Mega 2560 to record correlative data to learn about the health and the development of Spirulina under certain circumstances. </caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Arduino_Mega_2560.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Arduino_Mega_2560.jpg" width="370" id="Arduino_Mega_2560">
                </a>
            </td>
            <td>
                <a href="./images/personal_projects/spirulina/RGB_sensor.jpg" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/RGB_sensor.jpg" width="370" id="RGB_sensor">
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="image-container">
    <table>
        <caption class="IDesign_caption">And making some new tools and growing settings to ease the growing and harvesting process:</caption>
        <tr>
            <td>
                <a href="./images/personal_projects/spirulina/Algae_growing_tools.pdf" target="_blank" >
                    <img src="./images/personal_projects/spirulina/thumbs/Algae_growing_tools.jpg" width="370" id="Algae_growing_tools">
                </a>
            </td>
        </tr>
    </table>
</div>
<hr/>

<h3>Why growing Spirulina?</h3>
            <p>Spirulina can be farmed with minimal resource like a bight window and 10 litters of water. </p>
            <p>It is incredible productive: 1 cell of Spirulina can reproduce another 7 cells within a day. Spirulina has 50+ % of its body is oil versus 2-3% for soybeen and many other typical crops currently used for oil. This mean growing Spirulina is 100x times more productive than the conventional land crops, yet saying that it can be grown in spaces/conditions that is impossible to grow other plants.</p>
            <p>It has about 65 % complete protein, twice the density of beef or sushi - and the remainder is anti-oxidants, essential omega-3 fatty acids and other healthful substances that can not be found in other foods, such as blue pigment phycocyanin and allophycocyanin. Clinical studies has consistently shown dramatic benefits of Spirulina consumption in animals and humans for improving stamina, balancing the immune system, leveling blood sugar, reducing blood cholesterol, increasing beneficial bacteria in the gut, and protection against toxins, as well as anti-inflammatory, anti-viral, and anti-cancer properties.*</p>
            <p>Last but not least, among 30,000 known species of algae, Spirulina is the only one which is edible, feasible and safe to grow at home.</p>
            <p>Dried Spirulina is selling as supplements in Pharmacy. However, beside the fact that eating dried Spirulina just like eating dried berries in comparing with the fresh one, because Spirulina does not have a cell wall, it easily be contaminated with toxic substances called microcystins as well as heavy metals in the water where it is grown. There are many studies about the benefits of consuming Spirulina, but there are very few information available about contaminations of Spirulina products. <a href="http://www.naturalnews.com/039145_chlorella_heavy_metals_lab_tests.html#ixzz341mft94D" target="_tab">This article about how "clean" of Chlorella</a>, a sister of Spirulina super-food, will give us an idea what to look for when buying Spirulina tablets. Growing Spirulina ourselves is the good way to make sure the Spirulina we consume is safe.</p>

<p>Spirulina tends to accumulate energy-storage products (carbonhydrates and oil) during the course of the day as they soak in light energy, then use this energy to split/grow at night. For this reason, it have highest protein and lowest oil at dawn and vice versa. (The difference is about 25% from dawn to dusk). Therefore, those who want to use Spirulina to build muscles, then it is best to consume Spirulina that was harvested in the morning. Those who want the healthy fatty acids Omega-3 will have the best result taking Spirulina being harvested in the late afternoon. The only feasible way to acquire the "dawn" or "dusk" Spirulina is growing them on one own.</p>


        <p class="notation">* For review of such studies, see Spirulina in Human Nutrition and Health, M.E. Gershwin and A. Belay eds., CRC Press, 2008.</p>
<hr/>
