<hr />
<p>I solely created and conducted this program for psycho-educational group focusing on clients who have issues with self-assurance and socializing skills for a mental health clinic in San Francisco (RAMS). The group was open for new members to join in at any session. The group-size fluctuated from 5 to 10 participants. </p>
<h3>Objectives of the program:</h3>
    <ul>
        <li>Participant is able to reflect on an actually experience during the week and to verbalize he/she sense of self through the experience.</li>
        <li>Participant discusses one social skill each weeks and to meet with group peer(s) outside of the clinic settings once a month. I also conducted a research on participant' usage of internet and phone to communicate with out-of-town during the program.</li>
    </ul>

<h3>Training materials:</h3>
<table cellpadding="10" cellspacing="0">
	<caption class="IDesign_caption"> Weekly handouts, workbooks, powerpoint presentations, motivational cards, and evaluation questionnaire. <br/>
        (Due to a mix of language capacity of participants, most of materials were in both Vietnamese and English, but only English or Vietnamese versions are presented below. Some PDF presentations were converted from PowerPoint files) <caption/>
	<tr>
		<td><a href="./images/instructional_design/tre_xanh/The_life_wheel_in_Vietnamese.pdf" target="_tab" ><img src="./images/instructional_design/tre_xanh/thumbs/The_life_wheel_in_Vietnamese.jpg"></a></td>
		<td><a href="./images/instructional_design/tre_xanh/Who_are_responsible_for_our_life.pdf" target="_tab" ><img src="./images/instructional_design/tre_xanh/thumbs/Who_are_responsible_for_our_life.jpg"></a></td>
		<td><a href="./images/instructional_design/tre_xanh/Summon_Game.pdf" target="_blank" ><img src="./images/instructional_design/tre_xanh/thumbs/Summon_Game.jpg"></a></td>
	</tr>
	<tr>
		<td><a href="./images/instructional_design/tre_xanh/Bai_hat_Tre_Xanh.pdf" target="_tab" ><img src="./images/instructional_design/tre_xanh/thumbs/Bai_hat_Tre_Xanh.jpg "></a></td>
		<td><a href="./images/instructional_design/tre_xanh/Hoggy_and_Meerkat.pdf" target="_tab" ><img src="./images/instructional_design/tre_xanh/thumbs/Hoggy_and_Meerkat.jpg"></a></td>
		<td><a href="./images/instructional_design/tre_xanh/The_life_wheel.pdf" target="_tab" ><img src="./images/instructional_design/tre_xanh/thumbs/The_life_wheel.jpg"></a></td>

	</tr>
</table>
<hr/>
