<hr />
<p>I created this 1-day course for the staff of DRD, a disability youth center in Vietnam. Per the manager of the center, Ms Yen Dinh, most of the staff graduate from high school, some even from middle school, and have no previous work experience. Therefore, their skills to work together are limited. I did pilot study group on 4 DRD staff to learn the level of interpersonal skills at the center. I conceptualized the course bases on 6 components: thinking, listening, speaking, gaining insight, creative thinking, and follow up F.E.E.L.I.N.G. I conducted 1-day workshop to introduce the concept to DRD team leaders. Later on, I assisted them to create each components into a individual course by themselves. </p>
<p>My ultimate goal is to help the course participant to gain a good understanding of communication process, and to over come difficulties in communication due to disability conditions and lacking of working experience of the staff members.</p>
<h3>Objectives</h3>
        <ul>
            <li>Each participant gives 2 direct experience related to 6 leadership skills: thinking, listening, speaking, insight, creative thinking, and positive feedback.</li>
            <li>Each participant completes and execute the 21 days action plan.</li>
            <li>Participant will work in 6 groups to create individual courses about the 6 leadership skills.</li>
        </ul>

<table cellpadding="10" cellspacing="0">
	<caption class="IDesign_caption"><caption/>
	<tr>
		<td><a href="./images/instructional_design/Xgen_leadership/Xgen_leadership.pdf" target="_blank" ><img src="./images/instructional_design/Xgen_leadership/thumbs/Xgen_leadership.jpg"></a></td>
	</tr>

</table>

