<hr />
<p>I created this 1-day course for the staff of DRD, a center for youths with disabilities in Vietnam. Per the manager of
    the center &mdash; Ms Yen Dinh &mdash; most staff members graduate from high school, some even from middle school,
    and have limited interpersonal skills and previous work experience. I conceptualized the course based on 6 components:
    thinking, listening, speaking, gaining insight, creative thinking, and follow up F.E.E.L.I.N.G. I conducted a 1-day
    workshop to introduce the concept to DRD team leaders. Later on, I assisted them to develop each component into an
    individual course by themselves.</p>
<p>My ultimate goal was that the course participants gain a good understanding of the communication process and
    overcome difficulties in communication due to disability conditions and lack of working experience of the staff
    members.</p>
<h3>Objectives</h3>
        <ul>
            <li>Each participant presents 2 personal experiences related to 6 leadership skills: thinking, listening, speaking,
                insight, creative thinking, and positive feedback.</li>
            <li>Each participant completes and executes the 21 days action plan.</li>
            <li>Participant is able to work in 6 groups to create individual courses about the 6 leadership skills.</li>
        </ul>

<table cellpadding="10" cellspacing="0">
	<caption class="IDesign_caption"></caption>
	<tr>
		<td><a href="./images/instructional_design/Xgen_leadership/Xgen_leadership.pdf" target="_blank" >
            <img src="./images/instructional_design/Xgen_leadership/thumbs/Xgen_leadership.jpg">
            </a>
        </td>
	</tr>

</table>

