<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<script>
function bgChange(bg){
	document.body.style.background = bg;
}
</script>
</head>
<body>
<h1>Change Background</h1> 
<form name="f1" id="f1">
<input type="button" onclick="bgChange('aqua');" value="aqua"> <br />
<input type="button" onclick="bgChange('blue');" value="blue"> <br />
<input type="button" onclick="bgChange('fuchsia');" value="fuchsia"> <br />
<input type="button" onclick="bgChange('gray');" value="gray"> <br />
<input type="button" onclick="bgChange('green');" value="green"> <br />
<input type="button" onclick="bgChange('lime');" value="lime"> <br />
<input type="button" onclick="bgChange('maroon');" value="maroon"> <br />
<input type="button" onclick="bgChange('navy');" value="navy"> <br />
<input type="button" onclick="bgChange('olive');" value="olive"> <br />
<input type="button" onclick="bgChange('purple');" value="purple"> <br />
<input type="button" onclick="bgChange('red');" value="red"> <br />
<input type="button" onclick="bgChange('silver');" value="silver"> <br />
<input type="button" onclick="bgChange('teal');" value="teal"> <br />

<input type="button" onclick="bgChange('white');" value="white"> <br />
<input type="button" onclick="bgChange('yellow');" value="yellow"> <br />


</form>

</body>

</html>

