<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>My Journey</title>

        <!-- <link rel='stylesheet' href="css/myjourney_basic.css" type='text/css' /> -->
<link rel="stylesheet" type="text/css" href="/js/colorbox/colorbox.css" media="screen, projection" /> 
<script type="text/javascript" src="/js/colorbox/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>
<script type="text/javascript" src="/js/navigation.js"></script> 
<!-- <script type="text/javascript" src="js/script.js"> </script> -->

 <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
 <!--[if IE]>
     <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 <![endif]-->

</head>
