<?php
include(CONTROLLERS.'nav_sub.php');


        $NAV_SUB = '<ul class="nav_sub">';
        foreach ($NAV_S as $s) {

                $query_string = 'v='. urlencode($main_nav) . '&s='. urlencode($s);

                $NAV_SUB .= '<li class="nav_sub '. $s . '"><a href="?'. htmlentities($query_string). '">' . str_replace('_', ' ', $s) . '</a></li>';
        }
        $NAV_SUB .= '</ul>';
        echo $NAV_SUB;

        if (isset($_GET['s']) && $_GET['s'] == 'about_me') {

                echo '<img src="./images/hoa/MeerKat.png" alt="meerkat pic" >';

        }