<ul class='nav_main'>
        <li class='nav_main home'><a href="?v=home"><span>Home</span></a></li>
        <li class='nav_main wall_photos'><a href="?v=wall_photos"><span>Wall Photos</span></a></li>
        <li class='nav_main graphic_design'><a href="?v=graphic_design"><span>Graphic Design</span></a></li>
        <li class='nav_main instructional_design'><a href="?v=instructional_design"><span>Instructional Design</span></a></li>
        <li class='nav_main Fashion_3D_Modeling'><a href="?v=Fashion_3D_Modeling"><span>Fashion 3D Modeling</span></a></li>
</ul>
