<ul class='nav_main'>
	<li class='nav_main hoa_ff' ><a href="?v=hoa_ff&s=friend"><span>Hoa, Family, and Friends</span></a></li>
		<ul class='nav_sub1 hoa_ff'>
			<li class='nav_sub1 hoa_ff'>Hoa</li>
			<li class='nav_sub1 hoa_ff'>Family</li>
			<li class='nav_sub1 hoa_ff'>Friends</li>
		</ul>
	<li class='nav_main tango'><a href="?v=tango"><span>Tango</span></a></li>
		<ul class='nav_sub1 tango'>
			<li class='nav_sub1 tango'><a href="#">Places</a></li>
			<li class='nav_sub1 tango'><a href="#">Tango Folks</a></li>
			<li class='nav_sub1 tango'>Events</li>
			<li class='nav_sub1 tango'>Techniques</li>
			<li class='nav_sub1 tango'>Insights</li>
		</ul>
	<li class='nav_main tennis'><a href="?v=tennis"><span>Tennis</span></a></li>
		<ul class='nav_sub1 tennis'>
			<li class='nav_sub1 tennis'>Places</li>
			<li class='nav_sub1 tennis'>Tennis Folks</li>
			<li class='nav_sub1 tennis'>Events</li>
			<li class='nav_sub1 tennis'>Techniques</li>
			<li class='nav_sub1 tennis'>Insights</li>
		</ul>
	<li class='nav_main psy'><a href="?v=psy"><span>Psychology</span></a></li>
		<ul class='nav_sub1 psy'>
			<li class='nav_sub1 psy'>Reading Digests</li>
			<li class='nav_sub1 psy'>Events</li>
			<li class='nav_sub1 psy'>Insights</li>
		</ul>
	<li class='nav_main phy'><a href="?v=phy"><span>Phylosophy</span></a></li>
		<ul class='nav_sub1 phy'>
			<li class='nav_sub1 phy'>Reading Digests</li>
			<li class='nav_sub1 phy'>Events</li>
			<li class='nav_sub1 phy'>Insights</li>
		</ul>
	<li class='nav_main computer'><a href="?v=computer"><span>Computer</span></a></li>
		<ul class='nav_sub1 computer'>
			<li class='nav_sub1 computer'>Designing</li>
			<li class='nav_sub1 computer'>Programming</li>
			<li class='nav_sub1 computer'>Database</li>
		</ul>
	<li class='nav_main language'><a href="?v=language"><span>Language</span></a></li>
		<ul class='nav_sub1 language'>
			<li class='nav_sub1 language'>Vocabulary</li>
			<li class='nav_sub1 language'>Writting</li>
		</ul>		
	<li class='nav_main travel'><a href="?v=travel"><span>Traveling</span></a></li>
		<ul class='nav_sub1 travel'>
			<li class='nav_sub1 travel'>Places</li>
			<li class='nav_sub1 travel'>Companies</li>
			<li class='nav_sub1 travel'>Pictures</li>
			<li class='nav_sub1 travel'>Clips</li>
		</ul>
</ul>