					<?php include (LAYOUTS . 'header.html'); ?>

<body>

	<div id='container'>

		<div id='masthead'>

			<div id='nav_main'>

					<?php include (LAYOUTS . 'navigation.html'); ?>

			</div>

		</div>



		<div id='content'>
			
			

				
				<div id="decor_bar">
			
					<div id="page_header">
				
						<?php include (LAYOUTS . 'page_header.html'); ?>
				
					</div>
			
					<div id='nav_sub_h'>
				
						<?php include (LAYOUTS . 'nav_sub_h.html'); ?>
				
					</div>
					
				</div>
				
				
				<div id='display'>
	
				<?php include (VIEWS . "$VIEW"); ?>
			
				</div>
				


		</div>

		<div id='footer'>

				<?php include (LAYOUTS . "footer.html"); ?>

		</div>

	</div>

</body>

</html>